body {
    background-color: #e2d3be; 
}

.title {
    font-family: 'Gantari';
    font-size: 1.5em;
    font-weight: bold;
}

.countries {
    fill: rgba(99, 66, 29, 0.545);
    stroke: rgb(249, 249, 249);
    stroke-width: 1px;
}

.map {
    border: medium solid #5C4B51;
    margin: 10px 0 0 20px;
}

.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #5C4B51;
    float: right;
    margin: 10px 20px 0 0;
}

.numbers {
    fill: black;
    font-family: 'Gantari';
    font-size: 10px;
}

.chartTitle {
    font-family: 'Gantari';
    font-size: 1em;
    font-weight: bold;
}

.chartBackground {
    fill: rgba(128,128,128,.2);
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Gantari';
    font-size: 0.8em;
    fill: #999;
}

.dropdown {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 10;
    font-family: 'Gantari';
    font-size: 1em;
    font-weight: bold;
    background:#e3e2df;
    padding: 2px;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #999;
}

.select-style select {
    /* ... other styles ... */
    color: #4a4346; /* Replace with your desired color code */
    /* ... other styles ... */
  }

option {
    font-weight: normal;
}